* {
  box-sizing: border-box;
}
body {
  margin: 40px;
}
.leftside-image {
  margin: auto;
}
.image1 {
  border-radius: 45px;
}
.scndbg {
  background: aquamarine;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-bottom: 10%;
}
.bg-white-border {
  border-radius: 10px;
}
.botbuttons {
  border: none;
  margin-right: 1%;
}
.bluebutton {
  border: none;
  background: rgb(0, 157, 255);
  border-radius: 10px;
  margin-left: 1%;
}
.rightImg {
  border-radius: 45px;
  padding: 0;
  margin: 0 2% 2% 0;
}
.bg-danger {
  border-radius: 10px;
}
.par0 {
  border-radius: 10px 10px 0px 0px;
}
.par1 {
  border-radius: 10px 0px 10px 10px;
}

.par2 {
  border-radius: 10px;
}
.menuOutside {
  display: none;
}

@media screen and (max-width: 991px) {
  .middle-left {
    display: flex;
    justify-content: space-between;
  }
  .image-next {
    display: none;
  }
  .par1 {
    border-radius: 10px;
  }
}
@media screen and (max-width: 767px) {
  .menuInside {
    display: none;
  }
  .menuOutside {
    display: block;
    background: plum;
    margin: 1%;
  }
  .menuOutside ul {
    margin: auto;
  }
  .middle-left {
    display: block;
  }
  .middle-left p {
    display: flex;
    justify-content: center;
  }
  .middleRight-images {
    margin: auto;
  }
  .footerLeft {
    display: block !important;
    margin: auto;
  }
  .footerRight {
    margin-top: 5%;
  }
  .footerRight p {
    justify-content: center !important;
  }
}
